<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.work.chinafoodstore.mapper.ShoppingBasketMapper">

    <select id="queryBasketByUid" resultType="com.work.chinafoodstore.dommain.ShoppingBasket">
        select * from shopping_basket where user_id=#{uid}
    </select>



</mapper>